<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<hr>
<p><span>email: </span><%= @user.email %></p>

<% @items.each do |item| %>
  <hr>
  <p><span>ツイート内容: </span><%=link_to item.body, item_path(item.id) %></p>
<% end %>
<!-- 追加 -->
<% @want_items.each do |item| %>
  <hr>
  <p><span>ファボツイート内容: </span><%=link_to item.body, item_path(item.id) %></p>
<% end %>