<div class="row">
  <% @friends.each do |friend| %>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="user-card card card-index align-items-center">
        <% if friend.avatar? %>
          <%= link_to image_tag(friend.avatar.to_s, size: "150x150", class: "rounded-circle", alt: "avatar image"), friend %>
        <% else %>
          <%= link_to image_tag("no-avatar.png", size: "150x150", class: "rounded-circle", alt: "avatar image"), friend %>
        <% end %>
        <%= link_to friend.name, friend, class: 'user-name' %>
        <%= link_to 'Stop Follow', friendship_path(friend), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-unfollow'%>
      </div>
    </div>
  <% end %>
</div>