<h1 class="text-center mt-4 coordinate-font">Coordinate List</h1>
<div class="flickr_pagination">
  <%= paginate @coordinates %>
</div>

<%= render 'coordinate' %>
<div class="flickr_pagination mb-4">
  <%= paginate @coordinates %>
</div>