<h1 class="text-center mt-4">コーディネート</h1>
<div class="flickr_pagination">
  <%= will_paginate @coordinates, :container => false %>
</div>

<%= render 'coordinate' %>
<div class="flickr_pagination mb-4">
  <%= will_paginate @coordinates, :container => false %>
</div>