<h1 class="text-center mt-4 item-font">ItemList</h1>
<div class="flickr_pagination">
  <%= paginate @items %>
</div>

<%= render 'item' %>
<div class="flickr_pagination mb-4">
  <%= paginate @items %>
</div>
