<h1 class="text-center mt-4 item-font">My Item</h1>

<div class="flickr_pagination">
  <%= paginate @items %>
</div>
<%= render 'items/item' %>

<div class="flickr_pagination mb-4">
  <%= paginate @items %>
</div>