// Place all the styles related to the coordinates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.rowã€€coordinate-form{
  display: flex;
  justify-content: center;
  align-items: center;

}