// Place all the styles related to the items controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

@mixin sm { @media (min-width: 576px) { @content; } }
@mixin md { @media (min-width: 768px) { @content; } }
@mixin lg { @media (min-width: 992px) { @content; } }


.add_image {
  border: black 4px dashed;
  width: 100%;
  margin-left: 90px;
  height: 380px;
  line-height: 460px;
  border-radius: 10px;
  cursor: pointer;
  @include lg {
    margin-top: 0px;
    height: 500px;
    line-height: 550px;
  }
  i {
    font-size: 120px;
  }
  p {
    font-size: 12px;
  }
}

.custom-file-input {
  height: 0;
}

#img_field {
  color: #666;
  position: relative;
  padding: 0;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
  &:hover {
    background-color: #EDBC6C;
    & i{
      color: #fff;
    }
  }
  img {
    vertical-align: initial;
    width: inherit;
    height: inherit;
  }
}

.hidden-content {
  .hidden-field {
    display: none;
  }
  .hidden-checkbox {
    display: none;
  }
}
