<div class="text-center mb-4">
  <!--    ロゴ画像をsrcに入れる-->
  <img class="mb-4" src="#" alt width="72" height="72">
  <% if params['controller'] == 'users/registrations' %>
    <h1 class="h3 mb-3 font-weight-normal">新規登録</h1>
  <% else %>
    <h1 class="h3 mb-3 font-weight-normal">ログイン</h1>
  <% end %>

  <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element.
    <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a>
  </p>
</div>