<h1 class="text-center mt-4 first-font">
  <% if params['controller'] == 'users/registrations' %>
  Sign Up
  <% else %>
    Log in
  <% end %>
</h1>

  <div class="text-center mb-4">
  <p>自分の好きな洋服から繋がるアプリです。気に入ったアイテムでコーディネートを組んでシェアしましょう</a>
  </p>
</div>